@model IEnumerable<DyersCargoTransit_Interface.Models.Truck>

@{
    ViewData["Title"] = "Index";
}

<partial name="_DashBoard" />

<center><h2>Trucks</h2></center>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckStatusId)
            </th>
            <th>
                <p>
                    <a asp-action="Create" class="btn btn-sm btn-success">
                        New Truck
                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                    </a>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckStatus.TruckStatusName)
            </td>

                <td>
                    <div class=" btn-group w-75">
                        <!--Align buttons-->
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">
                            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        </a>

                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>


                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
