@model DyersCargoTransit_Interface.Models.Cargo

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoType.CargoTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoDimentions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoDimentions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoStatus.CargoStatusName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
